/*body {
  padding-top: 50px;
}*/
.container-layout {
  padding: 1rem;
  text-align: center;
}

.chosen-select {
  min-width: 10rem;
  max-width: 20rem;
}

.bubble-link {
  vertical-align: middle;
  font-size: 1.3rem;
  min-width: 10rem;
  max-width: 12rem;
  margin: .7rem;
  padding: .7rem;
  border: 1px solid rgba(0,0,0,.2);
  border-radius: 2rem;
}

.bubble-col {  
  margin: .7rem;
}

.ql-editor {
  user-select: none;
}

.table{
  border-bottom: 1px solid #eceeef;
  border-left: 1px solid #eceeef;
}

.table th, .table td {
  text-align: center;
  border-right: 1px solid #eceeef;
}