{{ define "head-folder/view" }}
  <title>RGCMS: Folder {{ .folder.Name }}</title>
{{ end }}

{{ define "body-folder/view" }}
<div class="container-fluid container-layout">
  <h1>Folder: {{ .folder.Name }}</h1>
  {{ if gt .user.Level 6 }}
  <a href="/folder/edit/{{ .folder.ID.Hex }}">Edit Folder</a>
  <a href="/edit/?folder-id={{ .folder.ID.Hex }}">New Document</a>
  {{ end }}
</div>
<div class="container-fluid container-layout">
  <div class="row">
    {{ range $i, $doc := .folder.Documents }}
      <a href="/view/{{ $doc.ID.Hex }}" class="col-xs bubble-link">{{ $doc.Title }}</a>
    {{ end }}
  </div>
</div>
{{ end }}