{{define "head"}}
  <title>SCMS|Edit {{.page.Title}}</title>
  <link rel="stylesheet" href="/public/dependencies/css/quill.snow.css">
{{end}}

{{define "body"}}
<h1>Editing {{.Title}}</h1>

<form id="frmContent" action="/save/{{.page.URL}}" method="POST">
  <div id="divQuill">{{.page.Body}}</div>
  <input id="hdnBody" type="hidden" name="body">
  <input id="btnSave" type="submit" value="Save">
  <input id="hdnPermissions" type="hidden" name="permissions">
  <button id="btnCancel">Cancel</button>
</form>
<h3>Permissions:</h3>
<ul id="ulPermissions">
  {{range $index, $user := .users}}
    <label>{{$user.Name}}:<input type="checkbox" data-user-id="{{$user.ID.Hex}}"></label>
  {{end}}
</ul>
{{end}}

{{define "scripts"}}
  <script src="/public/dependencies/js/quill.min.js"></script>
  <script>
    let quill = new Quill('#divQuill', {
      placeholder: "Enter text here",
      theme: 'snow'
    });

    let hdnBody = document.getElementById("hdnBody");
    let btnCancel = document.getElementById("btnCancel");
    let title = window.location.pathname.slice(window.location.pathname.lastIndexOf('/'));

    // redirect to the view page
    $(btnCancel).on("click", function() {
      window.location.href = "/view" + title;
    });

    $("#frmContent").submit(function() {
      hdnBody.value = quill.container.children[0].innerHTML;
      csvChecked = $("#ulPermissions")
        .find("input:checked")
        .map((index, element) => element.getAttribute("data-user-id"))
        .get()
        .join();

      hdnPermissions.value = csvChecked

      return true;
    });
  </script>
{{end}}