{{define "head"}}
  <title>SCMS|Edit {{.document.Title}}</title>
  <link rel="stylesheet" href="/public/dependencies/css/quill.snow.css">
  <link rel="stylesheet" href="/public/dependencies/css/chosen.min.css">
{{end}}

{{define "body"}}
<form id="frmContent" action="/save/{{.document.ID.Hex}}" method="POST">
  <h1>Document Title: <input id="txtTitle" name="title" type="text" autofocus value="{{.document.Title}}"></h1>
  <div id="divQuill">{{.body}}</div>
  <input id="hdnBody" type="hidden" name="body">
  <div>
    <h3>Permissions:</h3>
    <label for="numLevel">Level:</label>
    <input id="numLevel" name="level" type="number" value="{{.document.Level}}">
    <select id="slcFolder" name="folder" data-placeholder="Select folder..." class="chosen-select">
      <option></option> <!-- empty option first so there's no default option-->
      {{ range $i, $folder := .folders }}
        <option value="{{ $folder.ID.Hex }}"
          {{ if eq $.document.FolderID $folder.ID }} selected {{ end }}
        >{{ $folder.Name }}</option>
      {{ end }}
    </select>
    <h4>User Override:</h4>
    <select name="users" id="slcUsers" multiple data-placeholder="Select users..." class="chosen-select">
      {{ range $i, $user := .users }}
        <option value="{{ $user.ID.Hex }}" 
        {{ range $j, $userID := $.document.UserIDs }}
          {{ if eq $user.ID $userID }} selected {{ end }}
        {{ end }}
        >{{ $user.Name }}</option>
      {{ end }}
    </select>
  </div>
  <input id="btnSave" type="submit" value="Save">
  <button id="btnCancel">Cancel</button>
</form>
{{end}}

{{define "scripts"}}
  <script src="/public/dependencies/js/quill.min.js"></script>
  <script src="/public/dependencies/js/chosen.jquery.min.js"></script>
  <script>
    let quill = new Quill('#divQuill', {
      placeholder: "Enter text here",
      theme: 'snow'
    });
    
    $('#slcUsers').chosen({
      no_results_text: "No users found"
    });
    
    $('#slcFolder').chosen({
      no_results_text: "No users found"
    });

    let hdnBody = document.getElementById("hdnBody");
    let btnCancel = document.getElementById("btnCancel");
    let frmContent = document.getElementById("frmContent");
    let id = window.location.pathname.slice(window.location.pathname.lastIndexOf('/'));

    frmContent.addEventListener('submit', function(event) {
      hdnBody.value = quill.container.firstChild.innerHTML;
    }, true);

    // redirect to the view page
    btnCancel.addEventListener('click', function(event) {
      if (id == "/") {
        window.location.href = "/";
      } else {        
        window.location.href = "/view" + id;
      }
      return false
    }, false);

    
  </script>
{{end}}