{{define "head"}}
  <title>RGCMS: Permissions</title>
  <link rel="stylesheet" href="/public/dependencies/css/chosen.min.css">
{{end}}

{{define "body"}}
  <div class="container-fluid container-layout"><h3>Permissions for folder: {{ .folder.Name }}</h3></div>
  <div class="container-fluid container-layout">
    <table id="tblPermissions" class="table">
      <thead>
        <tr>
          <th>Remove</th>
          <th>User</th>
          <th>List</th>
          <th>Read</th>
          <th>Write</th>
          <th>Create</th>
          <th>Delete</th>
        </tr>
      </thead>
      <tbody>
        {{ range $i, $perm := .folder.Permissions }}
        <tr data-userId="{{ $perm.UserID.Hex }}">
          <th scope="row"><a href="#">X</a></th>
          {{ with $user := index $perm.User 0 }}
          <td title="Level: {{ $user.Level }}{{ if $user.Admin }}&#13;Admin{{ end }}{{ if $user.Tech }}&#13;Tech{{ end }}">{{ $user.Name }}</td>
          {{ end }}
          <td><input type="checkbox" data-permission="list" {{ if $perm.List }}checked{{ end }}></td>
          <td><input type="checkbox" data-permission="read" {{ if $perm.Read }}checked{{ end }}></td>
          <td><input type="checkbox" data-permission="write" {{ if $perm.Update }}checked{{ end }}></td>
          <td><input type="checkbox" data-permission="create" {{ if $perm.Create }}checked{{ end }}></td>
          <td><input type="checkbox" data-permission="delete" {{ if $perm.Delete }}checked{{ end }}></td>
        </tr>
        {{ end }}
      </tbody>
    </table>

    <template id="tmpUserRow">
      <tr data-userid="">
        <th scope="row"><a href="#">X</a></th>
        <td title="Level:"></td>
        <td><input type="checkbox" data-permission="list" checked></td>
        <td><input type="checkbox" data-permission="read" checked></td>
        <td><input type="checkbox" data-permission="write"></td>
        <td><input type="checkbox" data-permission="create"></td>
        <td><input type="checkbox" data-permission="delete"></td>
      </tr>
    </template>

    <button id="btnAdd">Add permissions for user: </button id="btnAdd">
    <select name="user" id="slcUsers" class="chosen-select">
      <option></option>
      {{ range $i, $user := .users }}
        <option value="{{ $user.ID.Hex }}">{{ $user.Name }}</option>
      {{ end }}
    </select>
    <form id="frmFolderPermissions" action="/folder/permissions/save/{{ .folder.ID.Hex }}" method="POST">
      <input id="hdnFolderPermissions" type="hidden">
      <input id="btnSave" type="submit" value="Save">
    </form>
  </div>
{{end}}

{{define "scripts"}}
  <script type="application/json" id="scrUserPermissions">
    {
      "permissions": {{ .jsPermissions }},
      "users": {{ .jsUsers }}
    }
  </script>
  <script src="/public/dependencies/js/chosen.jquery.min.js"></script>
  <script src="/public/js/folderPermissions.js"></script>
{{end}}