{{ define "head" }}
  <title>SCMS: Edit Folder</title>
  <link rel="stylesheet" href="/public/dependencies/css/chosen.min.css">
{{ end }}

{{ define "body" }}
  <h1>{{ if .exists }}Edit{{ else }}New{{ end }} Folder</h1>
  <form id="frmFolder" action="/folders/save/{{ .folder.ID.Hex}}" method="POST">
    <input id="hdnId" name="folderId" type="hidden" value="{{ .folder.ID.Hex }}">
    <label for="txtName">Name:</label>
    <input id="txtName" name="name" type="text" autofocus value="{{ .folder.Name }}">
    <label for="numLevel">Level:</label>
    <input id="numLevel" name="level" type="number" value="{{ .folder.Level }}">
    <h3>Users in folder:</h3>
    <select name="users" id="slcUsers" multiple data-placeholder="Select users..." class="chosen-select">
      {{ range $i, $user := .users }}
        <option value="{{ $user.ID.Hex }}" 
        {{ range $j, $userID := $.folder.UserIDs }}
          {{ if eq $user.ID $userID }} selected {{ end }}
        {{ end }}
        >{{ $user.Name }}</option>
      {{ end }}
    </select>
    <input type="submit" value="Save">
  </form>
{{ end }}

{{ define "scripts" }}
  <script src="/public/dependencies/js/chosen.jquery.min.js"></script>
  <script>
    $('#slcUsers').chosen({
      no_results_text: "No users found"
    });
  </script>
{{ end }}