{{ define "head" }}
  <title>RGCMS: Folder {{ .folder.Name }}</title>
{{ end }}

{{ define "body" }}
<div class="container-fluid container-layout">
  <h1>Folder: {{ .folder.Name }}</h1>
  {{ if gt .user.Level 6 }}
  <a href="/folders/edit/{{ .folder.ID }}">Edit Folder</a>
  {{ end }}
</div>
<div class="container-fluid container-layout">
  <div class="row">
    {{ range $i, $doc := .docs }}
      <a href="/view/{{ $doc.ID.Hex }}" class="col-xs bubble-link">{{ $doc.Title }}</a>
    {{ end }}
  </div>
</div>
{{ end }}

{{ define "scripts" }}{{ end }}