<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--TODO: find out what these tags mean-->
    <title>(SCMS) Sensitive Content Management</title>

    <link rel="stylesheet" href="/public/dependencies/css/bootstrap.min.css">
  </head>
  <body>
    <h1>Welcome to the Sensitive Content Management System (SCMS)</h1>

    <script src="/public/dependencies/js/jquery.min.js"></script>
    <script src="/public/dependencies/js/bootstrap.min.js"></script>
  </body>
</html>