{{ define "head" }}
  <title>SCMS: Edit User</title>
{{ end }}

{{ define "body" }}
  <h1>{{ if .exists }}Edit{{ else }}New{{ end }} User</h1>
  <form id="frmUser" action="/users/save/{{ .editUser.ID.Hex }}" method="POST">
      <input id="hdnId" name="userId" type="hidden" value="{{ .editUser.ID.Hex }}">
    <div class="form-group">
      <label for="txtName">Name:</label>
      <input id="txtName" name="name" type="text" class="form-control" value="{{ .editUser.Name }}">
    </div><div class="form-group">
      <label for="txtEmail">Email:</label>
      <input id="txtEmail" name="email" type="text" class="form-control" value="{{ .editUser.Email }}">
    </div><div class="form-group">
      <label for="txtPassword">Password:</label>
      <input id="txtPassword" name="password" type="password" class="form-control">
    </div>
      {{ if .user.Admin }}
    <div class="form-group">
      <label for="numLevel">Level:</label>
      <input id="numLevel" name="level" type="number" class="form-control" value="{{ .editUser.Level }}">
    </div><div class="form-group">
      <label for="cbxAdmin">Admin:</label>
      <input id="cbxAdmin" name="admin" type="checkbox" class="form-control" {{ if .editUser.Admin }} checked {{ end }}>
    </div><div class="form-group"> 
      <label for="cbxTech">Tech:</label>
      <input id="cbxTech" name="tech" type="checkbox" class="form-control" {{ if .editUser.Tech }} checked {{ end }}>
    </div>
      {{ end }}
      <input type="submit" value="Save">
  </form>
{{ end }}

{{ define "scripts" }}{{ end }}