{{define "head"}}
  <title>SCMS: Edit User</title>
{{end}}

{{define "body"}}
  <h1>{{ if .exists }}Edit{{ else }}New{{end}} User</h1>
  <form id="frmUser" action="/users/save/{{.user.ID.Hex}}" method="POST">
    <hidden id="hdnId" name="userId" value="{{.user.ID.Hex}}"></hidden>
    <label for="txtName">Name:</label>
    <input id="txtName" name="name" type="text" value="{{.user.Name}}">
    <label for="txtEmail">Email:</label>
    <input id="txtEmail" name="email" type="text" value="{{.user.Email}}">
    <label for="txtPassword">Password:</label>
    <input id="txtPassword" name="password" type="password">
    <input type="submit" value="Save">
  </form>
{{end}}

{{define "scripts"}}{{end}}