{{ define "head" }}
  <title>SCMS: Users</title>
{{ end }}

{{ define "body" }}
<div class="card">
  <div class="card-block">
    <div class="cart-title"><h1>Users:</h1></div>
    <div class="card-subtitle"><a href="/users/edit">New User</a></div>
    <ul class="list-group">
      {{ range $index, $user := .users }}
        <li class="list-group-item"> 
          <a href="/users/edit/{{ $user.ID.Hex }}">{{ $user.Name }}</a>
        </li>
      {{ end }}
    </ul>
  </div>
</div>
{{ end }}

{{ define "scripts" }}{{ end }}