{{ define "head" }}
  <title>SCMS| {{ .document.Title }}</title>
  <link rel="stylesheet" href="/public/dependencies/css/quill.bubble.css">
{{ end }}

{{ define "body" }}
<h1>{{ .document.Title }}</h1>
{{ if gt .user.Level 6 }}
[<a href="/edit/{{.document.ID.Hex}}">Edit</a>]
{{ end }}
<div id="divQuill">{{.body}}</div>
{{ end }}

{{ define "scripts" }}
  <script src="/public/dependencies/js/quill.min.js"></script>
  <script>
    let quill = new Quill('#divQuill', {
      readOnly: true,
      theme: 'bubble'
    });
  </script>
{{ end }}