{{ define "head-document/view" }}
  <title>SCMS| {{ .document.Title }}</title>
  <link rel="stylesheet" href="/dependencies/css/quill.bubble.css">
{{ end }}

{{ define "body-document/view" }}
  <h1>{{ .document.Title }}</h1>
  {{ if gt .user.Level 6 }}
    [<a href="/document/edit/{{.document.ID.Hex}}">Edit</a>]
  {{ end }}
  <div id="divQuill">{{.body}}</div>
  <div id="divData">
    <span>Created: {{ timeFormat .document.Created }}</span>
    <span>Last Edited: {{ timeFormat .document.Edited }}</span>
  </div>
{{ end }}

{{ define "scripts-document/view" }}
  <script src="/dependencies/js/quill.min.js"></script>
  <script>
    let quill = new Quill('#divQuill', {
      readOnly: true,
      theme: 'bubble'
    });
  </script>
{{ end }}